.header_container {
  background-color: rgb(13, 113, 243);
  width: 100%;
  height: 50px;
  color: white;
}
.nav {
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
.item {
}
.item a {
  /* display: inline; */
  padding: 10px;
  margin: 0;
  text-decoration: none;
  color: white;
}

.item a:hover {
  color: rgb(158, 49, 49);
}
