{{#if success}}
  <div
    style="width:100%; padding-top:10px; padding-bottom:10px;
         border-radius: 2px; margin-bottom: 10px;background-color:#17ee898a"
  >
    <p style="margin:0px;padding:0 5px;">{{message}}</p>
  </div>
{{/if}}