<div>
  <div style="display: flex; justify-content: center;  align-items: center; ">
    <div
      style="margin-top:100px; width: 500px; border: 1px solid #ccc; padding:10px; border-radius:10px "
    >
      <p>Send email verification link to the given email addresss to verify the
        user account.</p>
      <p> <a href="">Click here to send verify email</a></p>
      <p>Once you have received this link to the email address,just click on the
        link account will activate.</p>
    </div>
  </div>
</div>