{{> header/navbar}}


<div style="position: relative;">
  <div style="position: absolute; top:100px; left: 50%; transform: translate(-50%,0); width:500px;">
     {{> frontend/success  }}
     {{> frontend/error  }}    
    <div
      style="border: 1px solid #ccc; padding:10px; border-radius:10px "
    >
      <p>Send email verification link to the given email addresss to verify the
        user account.</p>
      <p> <a href="/register/email/verify">Click here to send verify email</a></p>
      <p>Once you have received this link to the email address,just click on the
        link account will activate.</p>
    </div>
  </div>
</div>